@import "tailwindcss";


*{
  background-color: black;
  color: white;
  font-size: medium;
}
button{
  background-color: gray;
  color: white;
  border-radius: 5px;
  padding: 8px 10px;
  margin: 5px;
}